<div class="col-2 sidenav mybg">
    <h1 class="text-center mycol">EncryptHash</h1>
    <hr>

    <div class="container">
        <br>
        <br>
    <h5 class="text-left {% if request.path == '/' %} active {% endif %}"><a href="/">Home</a></h5>
    <hr>
    <h5 class="text-left {% if request.path == '/textencryption' %} active {% endif %}"><a href="textencryption">Text Encryption</a></h5>
    <hr>
    <h5 class="text-left {% if request.path == '/imageencryption' %} active {% endif %}"><a href="imageencryption">Image Encryption</a></h5>
    <hr>
    <h5 class="text-left {% if request.path == '/clubalgo' %} active {% endif %}"><a href="clubalgo">Clubbing Algos</a></h5>
    <hr>
    </div>
</div>